.dropdown-item:hover {
    background-color: coral;
    .dropdown-toggle {
        color: white;
    }
    
}

.navbar {
    background-color: rgb(80, 80, 80);
    color: white;
    border-radius: 10px;
    .nav-link {
        color: white;
    }
    
    .nav-link:hover {
        color: coral;
    }  
    .navbar-toggler {
        background-color: rgb(80, 80, 80);
        border-color: black;
    }
    
    .navbar-nav .nav-link.show {
        color: white;
    }
    
    .navbar-toggler-icon {
        color: white;
    }
}

